[alias]
        a = add -p
        co = checkout
        d = diff
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        st = status

        # Remove all changes and go back to a clean slate.
        wipe = "!git reset --hard; git clean -fd"

        # Zip up a patch file of all changes since the last commit so I can go home/sleep.
        pause = "!git add --all; git commit -m 'temp'; git format-patch HEAD~1 --stdout | gzip > patch.gz; git reset HEAD~1 --hard"

        # Apply the changes in the aforementioned patch file when it's time to continue the work.
        resume = "!gzip -cd patch.gz | git apply; rm patch.gz"

        # Ignore a file locally without touching any gitignores.
        ignore = "!sh -c 'echo $1 >> .git/info/exclude; echo $1 → .git/info/exclude' -"

        # Statistics.
        stat-commits-by-author = shortlog -sn
[color]
        ui = auto
[core]
        editor = vim
        excludesfile = ~/.gitignore_global
[push]
        default = simple
[user]
        name = Luke Horvat
        email = lukehorvat@gmail.com
