'editor':
  'fontSize': 12
  'showInvisibles': true
  'preferredLineLength': 150
  'lineHeight': 1.8
  'showIndentGuide': true
  'normalizeIndentOnPaste': false
'core':
  'themes': [
    'atom-light-ui'
    'atom-light-syntax'
  ]
  'disabledPackages': [
    'metrics'
    'exception-reporting'
    'feedback'
    'background-tips'
  ]
  'projectHome': '~/code'
  'useReactEditor': true
'exception-reporting': {}
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics': {}
'bracket-matcher':
  'autocompleteBrackets': false
  'autocompleteSmartQuotes': false
  'wrapSelectionsInBrackets': false
'git-diff':
  'showIconsInEditorGutter': true
