# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
'.source.js, .source.jsx':
  'console.log':
    'prefix': 'log'
    'body': 'console.log($1);'
  'forEach':
    'prefix': 'forEach'
    'body': """
      $1.forEach(function(${2:element}, index, array) {
        $3
      })
    """
  'map':
    'prefix': 'map'
    'body': """
      $1.map(function(${2:element}, index, array) {
        ${3:return element;}
      })
    """
  'filter':
    'prefix': 'filter'
    'body': """
      $1.filter(function(${2:element}, index, array) {
        ${3:return true;}
      })
    """
  'reduce':
    'prefix': 'reduce'
    'body': """
      $1.reduce(function(${2:sum}, ${3:element}, index, array) {
        ${4:return sum + element;}
      }, ${5:0})
    """

'.source.coffee':
  'console.log':
    'prefix': 'log'
    'body': 'console.log $1'
