// Emphasize directories and index files in tree-view.
.tree-view {
  .entry {
    &.directory {
      > .header {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    &.file {
      > span[title="index.js"],
      > span[title="index.jsx"],
      > span[title="index.css"],
      > span[title="index.scss"] {
        font-style: italic;
      }
    }
  }
}

// Hide replacement text in find-and-replace.
.results-view {
  .match { background-color: @background-color-info !important; }
  .replacement { display: none !important; }
}
